<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74197536133-1nnaen04l6shjogd972n203shsj0o7da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74197536133-1nnaen04l6shjogd972n203shsj0o7da</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74197536133-qvrkoiu54qbtpuho3830sp22orbf7256.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAdfAmUURt6CVIGLqVygUJUXj39xHHDac</string>
	<key>GCM_SENDER_ID</key>
	<string>74197536133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yapi.nolimitdriver</string>
	<key>PROJECT_ID</key>
	<string>gestion-vtc</string>
	<key>STORAGE_BUCKET</key>
	<string>gestion-vtc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74197536133:ios:71862c89d4b6a72d3c08ec</string>
	<key>DATABASE_URL</key>
	<string>https://gestion-vtc-default-rtdb.firebaseio.com</string>
</dict>
</plist>